#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.input {
  border: solid 1px;
  border-radius: 5px;
  border-color: #28ba62;
}

.consultabtn {
  --background: #28ba62;
  --color: #121212;
  font-weight: 550;
}

.limpabtn {
  --background: #cf3c4f;
  --color: #121212;
  font-weight: 550;
}

ion-grid {
 --ion-grid-padding: 15px;
}